<div class="container">
  <div class="row background shadow px-4">

    <!-- Header produk -->
    <div class="col-lg-5 offset-lg-1 order-2 order-lg-1 mt-5">
      <div class="d-flex h-100">
        <div class="align-self-center">

          <!-- Tagline produk -->
          <h3><strong>
            Ketahui apa yang ada di dalam produk kecantikanmu
          </strong></h3>

          <!-- Form search -->
          <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Cari kandungan skincare" aria-label="Cari" aria-describedby="cari-produk">
            <div class="input-group-prepend ms-2">
              <span id="cari-produk">
                <button class="btn btn-outline-success">Search</button>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-6 order-1 order-lg-2">
      <div class="d-flex justify-content-center">
        <img src="../../assets/skincare1.png" alt="" class="img-responsive" id="hero-image">
      </div>
    </div>

  </div>
</div>
