<div class="row">
  <div class="col-xs-12">
    <img src="../../../assets/skincare.png" alt="" class="img-responsive">
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <h2>{{ produk.nama }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p> {{ produk.deskripsi }} </p>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let produk of produk.belanja_produk">
        Klik tombol dibawah untuk menambahkan produk <strong>{{ produk.nama }}</strong> sejumlah <strong>{{ produk.jumlah }} buah</strong> ke Wishlist
      </li>
      <a href="#" class="btn btn-outline-success" type="button" (click)="onAddKeWishlist()">Tambahkan ke Wishlist</a>
    </ul>
  </div>
</div>
