<div class="row background shadow px-4">

  <!-- tagline utama -->
  <div class="col-lg-5 offset-lg-1 order-2 order-lg-1 mt-5">
    <div class="d-flex h-100">
      <div class="align-self-center">
        <h2>
          <strong>Kenali kandungan produk<br/>perawatan kulitmu disini</strong>
        </h2>
        <p>
          Kembangkan wawasan skincare Anda<br/>bersama
          <strong>Skinsight</strong>
        </p>
        <button class="btn btn-outline-success">Cek Kandungan</button>
      </div>
    </div>
  </div>


  <!-- gambar hero -->
  <div class="col-lg-6 order-1 order-lg-2">
    <div class="d-flex justify-content-center">
      <img src="../../assets/skincare.png" alt="" class="img-responsive" id="hero-image">
    </div>
  </div>

</div>
