<nav
  class="navbar navbar-default navbar-expand-lg navbar-light bg-light"
  role="navigation"
>
  <div class="container-fluid">

    <!-- nama brand -->
    <div class="navbar-header">
      <a href="/" class="navbar-brand"
        ><img
          src="../../assets/skinsight.png"
          alt=""
          class="img-responsive"
          id="brand"
      /></a>
    </div>

    <!-- tombol toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapsed()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- content didalam navbar ketika collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">

      <!-- navbar utama sisi kanan -->
      <div class="navbar-nav nav ms-auto">
        <ul class="navbar-nav mt-1 mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/" class="nav-link">Beranda</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="onSelect('kandungan')"
              >Kandungan</a
            >
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="onSelect('produk')">Produk</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="onSelect('list-belanja')">Daftar Belanja Anda</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
