<app-hero-kandungan></app-hero-kandungan>

<!-- List Kandungan -->
<div class="container">
  <div class="row mt-5">

    <!-- Kolom pertama -->
    <div class="col-lg-4">

      <!-- ambil referensi dari list kandungan -->
      <app-list-kandungan
        (kandunganWasSelected)="selectedKandungan = $event">
      </app-list-kandungan>

    </div>

    <!-- Kolom kedua -->
    <div class="col-lg-8">

      <!-- ambil referensi dari detail kandungan -->
      <app-detail-kandungan
      *ngIf="selectedKandungan; else infoText"
      [kandungan]="selectedKandungan"></app-detail-kandungan>

      <!-- Jika tidak ada detail yang dipilih -->
      <ng-template #infoText>
        <p>Mohon pilih kandungan yang ingin dilihat detailnya!</p>
      </ng-template>

    </div>
  </div>
</div>
